.sidedrawer{
    width: 70%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: .3s all ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidedrawer.show {
    transform: translateX(0);
}

.sidedrawer__links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidedrawer__links > li {
    display: flex;
    align-items: center;
}

.sidedrawer__links > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    text-decoration: none;
    color: #171717;
    font-size: 1.6rem;
}

.sidedrawer__links > li > a:hover {
    background: #171717;
    color: #e7e7e7;
}